////////////////
//// Module ////
////////////////

.panels {
  position: relative;
  height: 100%;
  overflow-x: hidden;

  & > * {
    transition: left $animation-time, right $animation-time;
  }
}

////////////////////
//// Main panel ////
////////////////////

.panels__main {
  position: relative;
  right: 0; left: 0;
  height: inherit;
  z-index: 1;
  background: $panel-main-bg-color;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: background-color $animation-time;
    background-color: transparent;
  }
}

.panels__main.is_disabled {
  &:before {
    background-color: $panel-main-disabled-color;
    z-index: 50;
  }
}

/////////////////////
//// Side panels ////
/////////////////////

.panels__left, .panels__right {
  position: absolute;
  height: inherit;
  top: 0;
}

.panels__left {
  width: $panel-left-width;
  left: -$panel-left-width;
}

.panels__right {
  width: $panel-right-width;
  right: -$panel-right-width;
}

//////////////////////////
//// Transition logic ////
//////////////////////////

.panels.is_left_active {
  .panels__left {
    left: 0;
  }

  .panels__main {
    left: $panel-left-width;
  }

  .panels__right {
    left: $panel-left-width * 2;
  }
}

.panels.is_right_active {
  .panels__left {
    left: -($panel-right-width * 2);
  }

  .panels__main {
    left: -$panel-right-width;
  }

  .panels__right {
    right: 0;
  }
}