/////////////////////////
//// Global settings ////
/////////////////////////

$animation-time: 400ms;
$animation-offset: 50px;

////////////////////////
//// Panel settings ////
////////////////////////

$panel-main-bg-color: #fff;
$panel-main-disabled-bg-color: #ddd;
$panel-main-disabled-opacity: 0.6;

$panel-left-width: 200px;
$panel-left-bg-color: #eee;

$panel-right-width: 270px;
$panel-right-bg-color: #eee;