@keyframes overlay_fade_in {
  0%   { z-index: -1000; opacity: 0; }
  1%   { z-index: 1000; }
  100% { opacity: $panel-main-disabled-opacity; }
}

@keyframes overlay_fade_out {
  0%   { z-index: 1000; opacity: $panel-main-disabled-opacity; }
  99%  { z-index: 1000; opacity: 0; }
  100% { z-index: -1000; opacity: 0; }
}